/* There's some sample CSS here which you can use or nuke as you like */

@import url('https://fonts.cdnfonts.com/css/game-of-squids');

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}

main {
  min-height: 100dvh;
  line-height: 1.8;
  font-size: 18px;
  margin: 0; /* Remove auto-centering */
  padding: 0;
  width: 100%; /* Make it span the entire width */
  background-color: #f44786; /* Choose your color */
}
body {
  /* Change to something you like, but please do customize the font! */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  /* reset default margins */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  transform: translateX(-10vw);
  transition: transform 4s;
}
.hero.active h1 {
  transform: translateX(0);
}
.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  height: 100dvh;
  /* Center the content vertically and horizontally */
  display: grid;
  place-content: center;
  /* Custom text and stuff */
  background: #ed1b76;
  color: #249f9c;
  font-family: 'Game Of Squids', sans-serif;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  position:relative;
}
.hero a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #ed1b76;
  z-index:6;
}


/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.1s;
}
.hero.active {
  background: #249f9c;
  color: #ed1b76;
}

#real-turtle {
    position: absolute;
    top: 50dvh;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 100dvh;
    height: 100dvh;
    left: 50%;
    box-sizing: border-box;
    pointer-events: none;
}

#fake-turtle {
  background-color: #1d807f;
  position:absolute;
}

.cta {
  z-index:5;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  
}

.card {
  background: #249f9c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 25px;
  width: 300px;
  transition: transform 0.3s;
  filter:blur(15px);
}

.card.active {
  filter:blur(0px);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  
}

.card h3 {
  font-size: 1.5em;
  color: #333;
  margin: 15px 0;
}

.card p {
  font-size: 1em;
  color: white;
  margin-bottom: 20px;
}

.card button {
  background-color: white;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #1d807f;
}

.card:hover {
  transform: translateY(-10px);
}

.about-me {
  font-size:20px;
  color:#333;
  text-align: center;
}

h2 {
  font-family: 'Game Of Squids', sans-serif;
}

.overview {
  position:absolute;
  top:145%;
  z-index:9;
  font-family: 'Game Of Squids', sans-serif;
  text-decoration: underline;
  text-decoration-color: #ed1b76;
  font-size:64px;
}
.overview::after {
  content: "(Click to view!)";
  left:50px;
  top:100px;
  font-size: 40px;
  position:absolute;
  text-align: center;
}

.overview.active {
  color:transparent;
  text-decoration: none;
}

/* Triangle card 
.card:nth-child(2) {
  background: #fff;
  border: none; 
  padding: 0;
  clip-path: polygon(50% 0%, 10% 100%, 90% 100%); 
  text-align: center; 
  overflow: hidden;
  color: #333; 
}


 
.card:nth-child(3) {
  border-radius: 50%; 
  aspect-ratio: 1 / 1; 
  height: 600px; 
  width: 600px; 
  overflow: hidden; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */



